.contact-box .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}
.contact-box .contact-items {
	width: 400px;
}
.contact-box .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: .3s ease box-shadow;
}
.contact-box .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
.contact-box .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.contact-box .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
.contact-box .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}


@media (min-width: 768px){
    .contact-box .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	.contact-box .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
		gap: 40px;
	}
	.contact-box .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	.contact-box .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	.contact-box .contact-item .icon img {
		object-fit: contain;
	}
	.contact-box .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
    }
}