.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;
}

.main-navigation__title {
  font-size: 2rem;
  color: white;
}

.main-navigation__title a {

  text-decoration: none;
  color: white;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}
span {
	color: crimson;
}
.main-navigation__header-nav{
  display: none;
}


@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }
  .main-navigation__title {
	font-size: 2rem;
	color: white;
  }

  .main-navigation__header-nav {
    display: block;
  }
}

/* hemburg menu */


.hamburger {
	background: transparent;
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin: 0 3rem 0 auto;
}
 .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
.hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
.hamburger .bar::after,
 .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
.hamburger .bar::after {
	top: 8px;
}
.hamburger .bar::before {
	bottom: 8px;
}
 .hamburger.active .bar::before {
	bottom: 0;
}
 .hamburger.active .bar::after {
	top: 0;
}
@media only screen and (min-width: 760px) {
    .hamburger {
		display: none;
	}
}

@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
